<!DOCTYPE html>
{% load static %} {% load bootstrap4 %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Title</title>
  </head>
  <body>
    <div class="container">
      <div>
        <img class="logo" src="{%static 'img\logo.png' %}" alt="logo" />
      </div>

      <div class="box">
        <form action="" method="post">
          {% csrf_token %}
          <div class="input">{{ form.username }} {{ form.password }}</div>
          {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
          <div class="button">
            <input
              type="submit"
              class="btn btn-dark rounded-pill col-6 mt-3"
              value="로그인"
            />
          </div>
        </form>
        <form action="{% url 'accountApp:create' %}" method="get">
          <button class="signUp" type="submit">회원가입</button>
        </form>

      </div>

      <br /><br />
    </div>
  </body>
</html>
