<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/comment.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Comments</title>
  </head>
  <body>
    <header>
      <!-- 뒤로가기 버튼 -->
      <a href="{% url 'mainApp:detail' post.id %}"
        ><svg
          class="back"
          width="25"
          height="26"
          viewBox="0 0 25 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5 13C5 12.6598 5.15691 12.3387 5.42503 12.1303L16.2307 3.73069C16.7096 3.35841 17.3988 3.446 17.77 3.92633C18.1412 4.40666 18.0538 5.09784 17.5749 5.47012L7.88808 13L17.5749 20.5299C18.0538 20.9022 18.1412 21.5933 17.77 22.0737C17.3988 22.554 16.7096 22.6416 16.2307 22.2693L5.42503 13.8697C5.15691 13.6613 5 13.3402 5 13Z"
            fill="black"
          />
        </svg>
      </a>

      <h2>댓글</h2>

      <!-- 알림 버튼 -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="26"
        viewBox="0 0 25 26"
        fill="none"
      >
        <path
          d="M12.4605 19.2354H19.5542C19.8305 19.2509 20.1061 19.1954 20.3548 19.0741C20.6035 18.9529 20.8169 18.7699 20.9749 18.5427C21.1328 18.3156 21.2299 18.0517 21.2569 17.7764C21.2839 17.501 21.24 17.2233 21.1292 16.9698C20.7542 15.8365 19.2594 14.4771 19.2594 13.1396C19.2594 10.1708 19.2594 9.38959 17.7969 7.64375C17.3231 7.08238 16.7364 6.62702 16.0751 6.3073L15.2594 5.91146C15.1221 5.82941 15.0037 5.71924 14.912 5.58819C14.8202 5.45714 14.7572 5.30816 14.7271 5.15105C14.6456 4.6223 14.366 4.14436 13.9451 3.81416C13.5242 3.48395 12.9934 3.32621 12.4605 3.37292C11.9372 3.34149 11.4209 3.50627 11.0126 3.83507C10.6042 4.16386 10.3331 4.63307 10.2521 5.15105C10.2155 5.31335 10.1436 5.46561 10.0415 5.59703C9.93945 5.72844 9.80972 5.83579 9.66152 5.91146L8.8459 6.3073C8.18489 6.62714 7.59858 7.08249 7.12506 7.64375C5.66361 9.38959 5.66361 10.1708 5.66361 13.1396C5.66361 14.4771 4.23652 15.7 3.86152 16.901C3.63548 17.6271 3.51048 19.2354 5.40319 19.2354H12.4605Z"
          stroke="black"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15.8594 19.2354C15.8686 19.6843 15.787 20.1304 15.6195 20.547C15.4519 20.9635 15.2019 21.3419 14.8844 21.6594C14.5669 21.9769 14.1886 22.2269 13.772 22.3944C13.3555 22.562 12.9093 22.6436 12.4605 22.6344C12.0115 22.6439 11.5653 22.5625 11.1487 22.395C10.7321 22.2276 10.3536 21.9775 10.0362 21.66C9.71874 21.3424 9.46882 20.9639 9.30149 20.5472C9.13416 20.1306 9.05288 19.6843 9.06254 19.2354"
          stroke="black"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </header>
    <div class="bottom">
      <div class="commentTitle">'{{ post.title }}'에 달린 댓글입니다.</div>
      <div class="reaction">
        <img class="heart" src="{%static 'img\좋아요.png' %}" alt="좋아요" />
        <p>{{ post.like.count }}</p>
        <img class="comments" src="{%static 'img\댓글.png' %}" alt="댓글" />
        <p>{{ post.comments.count }}</p>
      </div>
      {% for comment in post.comments.all %}
      <div class="area">
        <img
          class="reactionLine"
          src="{%static 'img\댓글창반응밑라인.png' %}"
          alt="좋아요"
        />
        <div class="division">
          <div>
            <img
              class="profilePhoto"
              width="30"
              height="30"
              src="{{ comment.author.image.url }}"
              alt="프로필 사진"
            />
          </div>
          <div class="detailcomment">
            <div class="nickname">{{ comment.author.nickname }}</div>
            <div class="date">{{ comment.created_at }}</div>
            <div class="commentContent">{{ comment.content }}</div>
          </div>
          {% if request.user == comment.author %}
          <div class="delete">
            <a
              href="{% url 'mainApp:delete_comment' comment.id %}"
              class="delete-link"
            >
              <img src="{% static 'img\삭제.png' %}" alt="삭제하기" />
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% empty %}
      <div class="no-comments">댓글이 없습니다.</div>
      {% endfor %}
      <div class="write">
        <form method="POST" action="{% url 'mainApp:create_comment' post.id %}">
          {% csrf_token %}
          <div>
            <input
              class="commentInput"
              type="text"
              name="content"
              placeholder="댓글을 작성해주세요..."
            />
            <div>
              <input
                type="image"
                src="{% static 'img\댓글제출.png' %}"
                value="작성"
                class="submit"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
