<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if 1 in category_ids %}
    <a href="{% url 'mainApp:challengeList' %}">뒤로가기</a>
    {% elif 2 in category_ids %}
    <a href="{% url 'mainApp:tipList' %}">뒤로가기</a>
    {% endif %}<br /><br />

    <!--댓글-->
    <form method="POST" action="{% url 'mainApp:create-comment' post.id %}">
      {% csrf_token %} 댓글 - <input type="text" name="content" /><input
        type="submit"
        value="작성"
      />
    </form>

    <p>댓글 수 : {{ post.comments.count }}</p>
    {% for comment in post.comments.all %} 작성자 - {{ comment.author.nickname
    }}<br />
    <b>{{ comment.content }}</b><br />
    작성일 - {{ comment.created_at }}<br />
    {% if request.user == comment.author %}
    <a href="{% url 'mainApp:delete-comment' comment.id %}">삭제하기</a>
    {% endif %}<br /><br />
    {% empty %} 댓글이 없습니다 {% endfor %}
    <br />
  </body>
</html>
