<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성 페이지</title>
</head>
<body>
    <h2>글 작성</h2>
    <a href="{% url 'mainApp:main' %}">뒤로가기</a><br><br>

    <form method="POST" action="{% url 'mainApp:create' %}" enctype="multipart/form-data"> 
        {% csrf_token %}
        제목 - <input type="text" name="title"><br><br>
        카테고리 -<select name="category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select><br><br>
        내용 - <textarea name="content"></textarea><br><br>
        이미지 - <input type="file" name="image"><br><br>
        파일 - <input type="file" name="file"><br><br>
        
        
        <br><br>
        <input type="submit" value="작성하기">
    </form>
</body>
</html>
