<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정</title>
</head>
<body>
    <h2>글 수정</h2>
    <form method="POST" action="{% url 'mainApp:update' post.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        제목 - <input type="text" value="{{ post.title }}" name="title"><br><br>
        내용 - <textarea name="content">{{ post.content }}</textarea><br><br>

        {% if post.image %}
            기존 이미지 : <img width="320" height="240" src="{{ post.image.url }}"><br><br>
        {% endif %}
        이미지 변경 - <input type="file" name="image"><br><br>

        {% if post.file %}
            기존 파일 : <a href="{{ post.file.url }}" download>다운로드 {{ post.file.name }}</a>
        {% endif %}<br><br>
        파일 변경 - <input type="file" name="file"><br><br>

        
        <input type="submit" value="수정하기">
    </form>
</body>
</html>